pillow==10.4.0
transformers==4.44.0
pytest

torch
mediapipe
accelerate
# matplotlib==3.7.3 ## not necessary for pipeline
flask
Werkzeug==2.0.1
numpy
huggingface-hub
sentencepiece==0.2.0
diffusers @ git+https://github.com/huggingface/diffusers.git

tokenizers==0.19
protobuf
# Common requirements
controlnet_aux
opencv-python

# Flux model requirements
# diffusers==0.30.2; extra == 'flux'

# SDXL model requirements
# diffusers==0.27.2; extra == 'sdxl'
